<footer class="site-footer">
  <div class="container footer-inner">
    <div>&copy; 2025 Luxury Hotel Booking. All rights reserved.</div>
    <div class="footer-links">
      <ul>
      <li><a href="../home/index.html">Home</a></li>
      <li><a href="../search/index.html">Search</a></li>
      <li><a href="../profile/index.html">My Profile</a></li>
      </ul>
      
    </div>
    <div>
      <ul>
        <li>Designed with by Luxury Hotel Booking Team</li>
        <li>Contact: luxuryhotelbooking@gmail.com</li>
        <li>Phone: +1 234 567 890</li>
      </ul>

    </div>
  </div>
</footer>
